<div class="container">
    {{!-- <h1>Le Blog Culinaire</h1>
    <div class="row">
        <div class="col-md-8">
            <h2>coucou</h2>
        </div>
        <div class="col-md-4">
            <h2>coucou</h2>
        </div>
    </div> --}}

    <div class="row">
        <div class="col-md-12">
            {{#each recipe}}
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{this.title}}</li>
                        <img src="{{this.cover.urlSharp}}" alt="" style="max-width: 200px;">
                        <li class="list-group-item">{{this.ingredients}}</li>
                        <li class="list-group-item">{{this.content}}</li>
                        <li class="list-group-item">{{this.category}}</li>
                        <li class="list-group-item">{{this.created_at}}</li>
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>