<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des recettes</h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each recipe}}
                    <tr>
                        <td>{{this.created_at}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.category.title}}</td>
                        <td><button type="button" class="btn btn-primary"><a href="{{this.id}}">Modifier</a></button>
                        </td>
                        <td>
                            <form action="{{this._id}}/?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--
<script>
    const date = document.querySelectorAll('.date')

    let now = new Date();
    let day = now.getDate();
    let month = now.getMonth() + 1;
    let year = now.getFullYear();

    date.innerHTML = day + "/" + month + "/" + year

</script>
-->